body {
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url("image/back.jpg") no-repeat center center fixed;
    background-size: cover;
}

.auth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

.auth input {
    background-color: #E5E5E5;
    border: none;
    height: 60px;
    width: 100%;
}

.auth .submitButton {
    background: #36A188;
    color: #f8f9fa;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
}

.greenButton {
    background: #36A188;
    color: #f8f9fa;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
}

.activeElement {
    background-color: #FF906C !important;
    color: #f8f9fa !important;
}

.choiceElement {
    padding: 15px;
    border: none;
    background-color: #E5E5E5;
}

